body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-family: sans-serif;
    color: white;
}


main{
    
    margin: 30px auto; 
    display: flex;
    align-items: center;
    width: 100%;

}


.section1{
    position: relative;
    background: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 10px;
    margin-left: 25%
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}


button:hover{
    cursor: pointer;
}


.section2{
    position: relative;
    background: rgba(255,255,255,0.2);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10x;
    width: 250px;
    height: 450px;
    padding-left: 25px;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
}

footer{
    text-align: center;
}
a{
    text-decoration: none;
}